$green: #3BC8AA;
$cream: #ffeccf;
$purple: #31234e;
$pink: #ffc6c6;
$black: #1e1e1e;
$orange: #ff551a;

$titleFont: "PT Serif";
$bodyFont: "Work Sans";

body {
  color: $black;
  font-family: $bodyFont;
}

h1 {
  font-family: $titleFont;
}

h2 {
  font-family: $titleFont;
  color: $green;
}
